{erl_opts, [
            debug_info,
            {parse_transform, lager_transform}
           ]}.
{deps, [
        %{lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "3.0.1"}}},
        {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "3.2.4"}}},
        {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git"}},
        {hottub, ".*", {git, "git://github.com/bfrog/hottub"}},
        {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {tag, "1.5.2"}}}
]}.
{shell_apps, [esocial]}.
{sys_config, "priv/esocial.config"}.
