[
 {esocial, [
            {plugins, [vk]},
            {request_workers, 10},
            {vk, [
                  {app_id, -1}, % Your application id (from application settings)
                  {secret, <<>>} % Your security key (from application settings)
                 ]}
           ]}
].
